html {
    background-color: #072A6C;    
}
body {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 760px;
    margin: 0 auto;
    background-color: white;
    border: 1px solid #001963;
}
header {
    margin: 0;
    border-bottom: 2px solid black;
    padding: .5em 2em;
}
header a {
    padding: 0.5rem;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    display: inline-block;
    transition: all 0.4s;
}
header a:hover {
    transform: scale(1.1);
}
header h1 {
    display: inline-block;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}
header p {
    text-align: center;
    margin: 0;
    padding: .25em 0 0 0;
}
header ul {
    margin: 0;
    padding: 1em 0 0 0;
}
nav a {
    display: inline-block;
    width: 22rem;
    text-align: center;
    border: 1px solid #072A6C;
    background: white; 
    padding: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    border-radius: 6px;
    transition: all 0.4s;
}
nav a:hover {
    transform: scale(1.11);
    background: blue;
    color: white;
    box-shadow: 4px 4px 3px black;
}
main {
    margin: 0;
    padding: .5em 2em .25em;
}
footer {
    clear: both;
    margin-top: 1em;
    padding-right: 1em;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
    margin: 1em 0;
}

h1 {
    font-size: 150%;
    margin: 0;
    padding: .5em 0 .25em;
}
h2 {
    font-size: 120%;
    margin: 0;
    padding: .25rem 0 .25rem;
}
nav h2 {
    display: inline-block;
    margin-left: 8.6rem;
    border-radius: 6px;
    padding: 0.25rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 22rem;
    border: 1px solid #072A6C;
    background: #072A6C; 
    color: white;
    text-align: center;
    margin-bottom: 0.2rem;
}
h1, h2 {
    color: black;
}
p {
    margin: .5em 0 .5em 0;
    padding: 0;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    margin: 0;
    padding: 0;
}
nav ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}
nav ul li {
    text-align-last: center;
    padding-bottom: 0.5em;
}
table {
    border: 1px solid #001963;
    border-collapse: collapse;
}
td, th {
    border: 1px dashed #001963;
    padding: .2em .5em .2em .5em;
    text-align: left;
}
#no_border {
    border: 0px;
}
#no_border td {
    border: 0px;
}
form {
    margin: 0;
}
br {
    clear: left;
}
textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80%;
}
.right {
    text-align: right;
}
.error {
    color: red;
}
.message {
    margin-left: .5em;
    width: 15em;
}
#aligned {
    margin: .5em 0 2em;
}
#aligned label {
    width: 8em;
    margin-top: .2em;
    margin-right: 1em;
    margin-bottom: .5em;
    float: left;
}
#aligned input {
    float: left;
}
#aligned input[text] {
    width: 15em;
}
#aligned .message {
    margin-left: .5em;
    width: 15em;
}
button[type="submit"] {
    background-color: #ff0000; 
    color: #fff; 
    padding: 5px 10px; 
    border: none;
    cursor: pointer;
}
button[type="submit"]:hover {
    background-color: #ff3333;
}
button {
    color: #fff;
    padding: 8px 22px;
    border-radius: 6px;
    background: #7d2ae8;
    transition: all 0.2s ease;
}
button:active {
    transform: scale(0.96);
}
.vertical-form {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}
.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
